<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.model.recipe-mapper">
	<!-- 
		 String sql="select title from recipe";
		 ResultSet rs=ps.executeQuery();
		 while(rs.next())
		 {
		 	String title=rs.getString(1) ==> resultType="String"
		 }
		 String sql="select no,title,chef from recipe";
		 while(rs.next()))
		 {
		 	RecipeVO vo= new ReciepVO();
		 	vo.setno(rs.getint(1))
		 	vo.settitle(rs.getString(2))
		 	vo.setChef(rs.getString(3))
		 	list.add(vo);
		 }
		 ==> resultType=RecipeVO
		 
		 String sql="select core from recipe"
		 => resultType="double"
		 
		 => > 괜찮지만 <는 태그로 인식되어 &lt로 사용한다
	 -->
	<select id="recipeListData" resultType="RecipeVO">
	  select no,title,chef,rownum
	  from (select no,title,chef from recipe order by no asc)
	  where rownum&lt;=30
	</select>
</mapper>