<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.student-mapper">
 <!-- 
 	  (cache-ref | cache | resultMap* | parameterMap* | sql* | insert* | update* | delete* | select*)+
  -->
  <!-- CURD -->
  <!-- 데이터 추가 
  	   resultType, parameterType, id
  	   => ? 대신 사용
  	      #{}='', ${}=> column명 / table명
  -->
  <!-- 
        public void studetInsert(StudentVO vo) 
              (    )            (             ) 
              resultType         parameterType
              void인 경우에는 생략한다
   -->
   <!-- 중복 코딩이 있을 경우 : JOIN, SubQuery -->
   <sql id="select-data">
    SELECT hakbun,name,kor,eng,math,(kor+eng+math) as total,round((kor+eng+math)/3.0,2) as avg
    FROM student
   </sql>
   
  <insert id="studentInsert" parameterType="StudentVO"><!-- insert일 때는 반환값이 void여서 resultType이 없다 -->
    <!-- sequence 내용 추가할때는 selectKey -->
    <selectKey keyProperty="hakbun" resultType="int" order="BEFORE">
      SELECT NVL(MAX(hakbun)+1,1) as hakbun FROM student 
    </selectKey>
    INSERT INTO student VALUES(#{hakbun},#{name},#{kor},#{eng},#{math}) <!--SELECT NVL(MAX(hakbun)+1,1) as hakbun FROM student   -->
    <!-- 
         ${id} request.getAttribute("id")
         #{name} = vo.getName()
         #{eng} =vo.getEng()
     -->
  </insert>
  
  <!-- 데이터 목록 -->
  <select id="studentListData" resultType="StudentVO">
    <include refid="select-data"/> <!-- 반복을 제거하는 방식 -->
  </select>
  
  <!-- 데이터 검색 -->
  <select id="studentDetailData" resultType="StudentVO" parameterType="int">
     <include refid="select-data"/> <!-- 반복을 제거하는 방식 -->
    WHERE hakbun=#{hakbun} 
  </select>
  
  <!-- 데이터 수정 -->
  <!--  
  		public void upsate(StudentVO vo)
  -->
  <update id="studentUpdate" parameterType="StudentVO">
   UPDATE student SET
   kor=#{kor},eng=#{eng},math=#{math}
   WHERE hakbun=#{hakbun}
  </update>
  
  <!-- 데이터 삭제 -->
  <delete id="studentDelete" parameterType="int">
   DELETE FROM student
   WHERE hakbun=#{hakbun}
  </delete>
  
</mapper>
<!-- sql문장 -->











