<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">
	<!-- 사용자 정의 클래스 메모리 할당 -->
	<!-- @ComponentScan() 대신 사용 -->
	<context:component-scan base-package="com.sist.*"/>
	
	<!-- 
	 	관리 대상 클래스 구분 (메모리 할당)
	 	@Component, 
	 	@Repository, 
	 	@Service, 
	 	@Controller, 
	 	@RestController, 
 		@ControllerAdvice 
 		@Configuration
	 -->
	 <!-- 데이터 베이스 연결 -->
	<util:properties id="db" location="classpath:db.properties"/>
	<!-- @PropertySource @Value -->
	
	<!-- 1. 데이터 베이스 정보를 설정 -->
	<bean id="ds" class="org.apache.commons.dbcp.BasicDataSource"
		p:driverClassName="#{db['driver']}"
		p:url="#{db['url']}"
		p:username="#{db['username']}"
		p:password="#{db['password']}"	
	/>
	
	<!-- 2. MyBatis 전송 SqlSessionFactoryBean-->
	<bean id="ssf" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="ds"
	/>
	<!-- 3. interface 구현 요청 -->
	<!--  @MapperScan 대신 사용 -->
	<mybatis-spring:scan base-package="com.sist.mapper" factory-ref="ssf"/>
	
</beans>
