<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.food-mapper">
  <!-- PreparedStatement(SQL), ResultSet(resultType) -->
  <select id="foodListData" resultType="FoodVO">
    SELECT fno,name,address,rownum
    FROM food_location
    WHERE rownum&lt;=50
  </select>
  <select id="foodDetailData" resultType="FoodVO" parameterType="int"> <!-- ?에 대한 값이 정수다(int) -->
    SELECT fno,name,address,tel,type,parking,time,menu
    FROM food_location
    WHERE fno=#{fno}
  </select>
  <!-- 
       id는 구분자
       resultType : SQL실행 후에 값을 저장하는 변수
       parameterType:?에 값을 설정
       
       select address FROM food_location
       resultType="String"
       
       SELECT COUNT(*) FROM food_location
       resultType="int"
       
       = int count =rs.getInt(1)
       
       일반 데이터형, VO
       
       SELECT fno,name,address,FROM food_location
       WHERE fno=?
       parameterType="int"
       
       SELECT fno,name,address FROM food_location
       WHERE name=? AND address=?
       parameterType="FoodVO"
       
       SELECT fno, name, address FROM food_location
       WHERE num BETWEEN ? AND ?
       parameterType="hashmap" => ?가 두개 일경우 int,int로 사용하면 안된다!! => VO,hashmap을 사용해서 한다
       
       resultType="FoodVO"
       FoodVO(1개) => selectOne()
       FoodVO(여러개) => selectList()
   -->
</mapper>