<?xml version="1.0" encoding="UTF-8"?>
<!-- myBatis PDF 파일 -->
<!-- myBatis 관련 태그!! => 꼭 필수 (configuration: 가장 최상위 태그)-->
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- myBatis 세팅하는 부분 -->
<configuration>
   <!-- VO 등록 -->
   <typeAliases>
     <typeAlias type="com.sist.dao.DeptVO" alias="DeptVO"/>
   </typeAliases>
   <!-- mapper 파일 등록(경로명 /) -->
   <mappers>
    <mapper resource="com/sist/dao/dept-mapper.xml"/>
   </mappers>
</configuration>